<header class="header">
  <h1>Шапка сайта</h1>
</header>

<aside class="sidebar">

  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
      <mat-panel-title>
        Personal data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
      <mat-panel-title>
        Personal data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
      <mat-panel-title>
        Personal data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
      <mat-panel-title>
        Personal data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
      <mat-panel-title>
        Personal data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
      <mat-panel-title>
        Personal data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
      <mat-panel-title>
        Personal data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
      <mat-panel-title>
        Personal data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
    <div class="content-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquam mollitia quisquam magni nostrum?</p>
    </div>
  </mat-expansion-panel>
</aside>